body {
  font-family: ubuntu, consolas, monospace, sans-serif;
}
#g-wrapper #app-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}
#g-wrapper .app-content-container {
  width: 100%;
}
.mui-appbar {
  color: #000000;
}
.mui-appbar .mui-container {
  width: 100%;
}
.mui-appbar #appbar-sidenav-toggle,
.mui-appbar #appbar-help {
  width: 63px;
  height: 63px;
  line-height: 63px;
  display: inline-block;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none !important;
  background-color: transparent;
}
.mui-appbar #appbar-sidenav-toggle :focus,
.mui-appbar #appbar-help :focus {
  outline: none !important;
}
.mui-appbar #nav-title {
  line-height: 63px;
  font-size: 24px;
  color: #fff;
  text-decoration: none !important;
  background-color: transparent;
}
#appbar-inner {
  width: 100%;
}
#sidenav {
  position: fixed;
  top: 63px;
  background: -webkit-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0.65) 70%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0.65) 70%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0.65) 70%, rgba(255, 255, 255, 0) 100%);
  overflow: auto;
  width: 240px;
  box-shadow: 0px 1px 1px #909090;
  z-index: 999;
}
#sidenav .app-description {
  margin-left: 15px;
}
#sidenav ul {
  padding-left: 0;
  font-size: 24px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}
#sidenav ul li {
  display: list-item;
  text-align: -webkit-match-parent;
  text-decoration: none;
}
#sidenav ul li button {
  text-transform: none;
  width: 100%;
}
#view-files {
  margin-left: auto;
  margin-right: auto;
}
#view-files ul {
  list-style: none;
}
#view-files ul input {
  font-size: 11px;
}
#view-files ul button {
  font-size: 32px;
  padding: 0 5px;
}
#view-files ul button span {
  font-size: 0.8em;
}
#view-files button {
  text-transform: capitalize;
}
#view-files em {
  color: #FF0000;
}
#view-workspace .mui-panel {
  padding: 0px 15px 15px;
}
#view-plugins {
  margin-left: auto;
  margin-right: auto;
}
#view-plugins section {
  padding: 10px;
}
#view-settings {
  margin-left: auto;
  margin-right: auto;
}
#view-settings ul {
  list-style: none;
}
#view-settings ul input {
  font-size: 11px;
}
#view-settings ul button {
  width: 84px;
  padding: 0 5px;
}
#view-settings ul button span {
  font-size: 0.8em;
}
#view-settings button {
  text-transform: capitalize;
}
#view-about {
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}
#view-about .ref-credits {
  padding: 8px;
  margin-top: 40px;
}
#view-about ul {
  padding: 2px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}
#view-about ul li {
  display: list-item;
  text-align: -webkit-match-parent;
  text-decoration: none;
}
#view-about ul li section {
  border-bottom: 1px dotted #e6e6e6;
}
#view-about ul li a {
  cursor: pointer;
}
